body {
    font-family: 'Poppins', sans-serif !important;
}

/* input[type="text"],
input[type="password"],
input[type="url"] {
    font-family: 'Fira Code', monospace !important;
} */

/* Apply blur only to content */
.blur-overlay {
    filter: blur(5px);
    transition: filter 0.3s ease; 
}

/* Optional: if you want modal background to blur too */
.modal-backdrop.show {
    backdrop-filter: blur(6px);
    background-color: rgba(0, 0, 0, 0.25);
}

.overflow-visible {
    overflow: visible !important;
}